:root {
  --primary-color: #19172e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

body {
  background-color: var(--primary-color);
  height: 100vh;
  color: white;
}
/* ################################# */
.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.counter {
  width: 50vw;
  /* background-color: aqua; */
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter_title {
  height: 10%;
  font-size: 32px;
  font-weight: 750;
}

.num_display {
  height: 80%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 20px;
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;

  font-weight: 600;

  cursor: pointer;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;

  font-weight: 600;

  cursor: pointer;
}

.num {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 60px;

  width: 100%;

  /* background-color: grey; */
}

.incr {
  color: #19172e;
  background-color: white;
  border-radius: 50%;
  font-size: 35px;
  width: 50px;
  height: 50px;

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  bottom: 30px;
  right: -25px;

  cursor: pointer;
}
.dec {
  color: #19172e;
  background-color: white;
  border-radius: 50%;
  font-size: 35px;
  width: 50px;
  height: 50px;

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  bottom: -25px;
  right: 30px;

  cursor: pointer;
}

.number {
  /* background-color: blueviolet; */
  background-color: rgba(255, 255, 255, 0.05);
  height: 200px;
  width: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 52px;
  font-weight: 750;
  border-radius: 40px;

  position: relative;
}

.saved {
  width: 50vw;
  height: 100%;

  /* background-color: rgb(25, 0, 255); */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.saved_title {
  height: 10%;
  font-size: 32px;
  font-weight: 750;
}
.saved_display {
  height: 80%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: 750;
}

#saved_number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

/* ############################### */
footer {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 10vh;
}
.names {
  font-family: "Arvo", cursive;
}

.developer {
  color: greenyellow;
}

.inspired {
  color: blueviolet;
}
